<div class="table-responsive">
  <table class="table table-borderless">
  <thead class="thead-dark">
    <tr class="d-flex justify-content-center"  style="height: 50px;">
      <th  class="col-md-5" scope="col" style="background-color:#3333ff;" ><p class="text-center">Partidos</p></th>
    </tr>
  </thead>
  <tbody>
    <tr class="d-flex justify-content-center" >

      <td  class="col-md-1 bg-danger" style="background-color:#cc8500;"><p class="text-center  text-white">Local</p></td>
      <td  class="col-md-1 bg-danger" style="background-color:#cc8500;"><p class="text-center  text-white">Pts</p></td>
      <td  class="col-md-1 bg-danger" style="background-color:#cc8500;"><p class="text-center  text-white">-</p></td>
      <td  class="col-md-1 bg-danger" style="background-color:#cc8500;"><p class="text-center  text-white">Pts</p></td>
      <td  class="col-md-1 bg-danger" style="background-color:#cc8500;"><p class="text-center  text-white">Visitante</p></td>

    </tr>
    <tr class="d-flex justify-content-center" >

      <td  class="col-md-1 bg-danger" style="background-color:#cc8500;"><p class="text-center  text-white">Local</p></td>
      <td  class="col-md-1 bg-danger" style="background-color:#cc8500;"><p class="text-center  text-white">Pts</p></td>
      <td  class="col-md-1 bg-danger" style="background-color:#cc8500;"><p class="text-center  text-white">-</p></td>
      <td  class="col-md-1 bg-danger" style="background-color:#cc8500;"><p class="text-center  text-white">Pts</p></td>
      <td  class="col-md-1 bg-danger" style="background-color:#cc8500;"><p class="text-center  text-white">Visitante</p></td>

    </tr>
    <tr class="d-flex justify-content-center" >

      <td  class="col-md-1 bg-danger" style="background-color:#cc8500;"><p class="text-center  text-white">Local</p></td>
      <td  class="col-md-1 bg-danger" style="background-color:#cc8500;"><p class="text-center  text-white">Pts</p></td>
      <td  class="col-md-1 bg-danger" style="background-color:#cc8500;"><p class="text-center  text-white">-</p></td>
      <td  class="col-md-1 bg-danger" style="background-color:#cc8500;"><p class="text-center  text-white">Pts</p></td>
      <td  class="col-md-1 bg-danger" style="background-color:#cc8500;"><p class="text-center  text-white">Visitante</p></td>

    </tr>
    <tr class="d-flex justify-content-center" >

      <td  class="col-md-1 bg-danger" style="background-color:#cc8500;"><p class="text-center  text-white"></p></td>
      <td  class="col-md-1 bg-danger" style="background-color:#cc8500;"><p class="text-center  text-white">Local</p></td>
      <td  class="col-md-1 bg-danger" style="background-color:#cc8500;"><p class="text-center  text-white">21:30</p></td>
      <td  class="col-md-1 bg-danger" style="background-color:#cc8500;"><p class="text-center  text-white">Visitante</p></td>
      <td  class="col-md-1 bg-danger" style="background-color:#cc8500;"><p class="text-center  text-white"></p></td>

    </tr>

  </tbody>
</table>
</div>
